<h1 class="info">{{title}}</h1>
<br>
<form #infoForm="ngForm" (ngSubmit)="formSubmit(infoForm.value)">
  <table>
    <tr>
      <td>Name: </td>
      <td><input required minlength="5" maxlength="12" type="text" placeholder="Enter Your Name"
          [(ngModel)]="information.name" #name="ngModel" name="name"></td>
    </tr>
    <tr>
      <td></td>
      <td class="text-danger">
        <span *ngIf="name?.invalid && (name?.dirty || name?.touched)">
          <p *ngIf="name?.hasError('required')"> Invalid! please Enter Name</p>
          <p *ngIf="name?.hasError('minlength')"> Invalid! please Enter at least 5 charecter</p>
        </span>

      </td>
    </tr>

    <tr>
      <td>Email:</td>
      <td><input required minlength="5" maxlength="30" type="email" name="email" placeholder="Enter Your Email"
          [(ngModel)]="information.email" #email="ngModel"></td>
    </tr>
    <tr>
      <td></td>
      <td class="text-danger">
        <span *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <p *ngIf="email?.hasError('required')"> Invalid! please Enter Email</p>
          <p *ngIf="email?.hasError('minlength')"> Invalid! please Enter at least 5 charecter</p>
        </span>

      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" name="Password" placeholder="Enter Your Password" [(ngModel)]="information.password"
          #password="ngModel" required minlength="5" maxlength="12">
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="text-danger">
        <span *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          <p *ngIf="password?.hasError('required')"> Invalid! please Enter password</p>
          <p *ngIf="password?.hasError('minlength')"> Invalid! please Enter at least 5 charecter</p>
        </span>
      </td>
    </tr>
    <br>
    <tr>
      <td></td>
      <td><button class="btn btn-info">Submit</button></td>
    </tr>
  </table>
</form>
<br>
<div class="info">
  <h4>Student Information</h4>
  <h4>--------------------</h4>
  <h4>Name: {{information.name}}</h4>
  <h4>Email: {{information.email}}</h4>
  <h4>Password: {{information.password}}</h4>
</div>
